<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <title>Jamfood</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta
         name="Description"
         content="Jamfood">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<!-- Manifest -->
<link rel="manifest" href="manifest.json">
<!-- favicon -->
<link rel="icon" href="/favicon.png">
<!-- Warna Tema -->
<meta name="theme-color" content="#4260f5"/>
<!-- Icon IOS -->
<link rel="apple-touch-icon" href="/icons/icon-192x192.png">
<!-- Favorite icon -->
   </head>
   <body>
      <header>
         <app-bar></app-bar>
      </header>

      <main></main>

      <footer>
         <p>Copyright @ 2021 - Jamfood</p>
      </footer>
   </body>
</html>
