list-jamfood {
   display: grid;
   grid-row-gap: 30px;
}

@media screen and (max-width: 649px) {
   .nav {
      z-index: 5;
      background-color: #fff;
      width: 300px;
      height: 100%;
      position: absolute;
      margin-top: 5px;
      /* This trasform moves the drawer off canvas. */
      -webkit-transform: translate(-300px, 0);
      transform: translate(-300px, 0);
      /* Optionally, we animate the drawer. */
      transition: transform 0.3s ease-in-out;
   }
   .open {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
   }

   .header-title {
      position: absolute;
      right: 5%;
   }

   .nav-item {
      width: 100%;
      text-align: left;
      margin: 10px;
   }
   list-jamfood {
      margin: 1em;
   }
   .jf-detail {
      width: 96%;
   }
   .jf-detail-thumbnail {
      width: 100%;
      height: 360px;
   }
}

@media screen and (min-width: 650px) {
   list-jamfood {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 12px;
      grid-row-gap: 30px;
      margin: 8px;
   }
   #hamburgerButton {
      display: none;
   }
   .jf-content {
      padding: 16px 32px 32px 32px;
   }
   .jf-title {
      font-size: 24px;
   }
   .jf-city {
      font-size: 20px;
   }
   .jf-description {
      font-size: 12px;
   }
   .header-title {
      position: absolute;
      left: 5%;
   }
   .nav-list {
      right: 0%;
      top: 0;
      position: absolute;
   }
   .nav-item {
      padding: 20px 0;
      display: inline;
   }
}

@media screen and (min-width: 900px) {
   list-jamfood {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 8px;
   }
   .nav-list {
      right: 2%;
   }
}
